---
import Logo from '../assets/logo.png';
import { Image } from 'astro:assets';

const currentPath = Astro.url.pathname;

const links = [
  { href: "/", label: "Home" },
  { href: "/about", label: "About" },
  { href: "/projects", label: "Projects" },
  { href: "/events", label: "Events" },
  { href: "/reports", label: "Reports" },
  { href: "/contact", label: "Contact" },
  { href: "/videos", label: "Videos" },
];

const isActive = (href: string) => {
  if (href.startsWith('/#')) {
    return currentPath === '/';
  }
  return currentPath === href || currentPath.startsWith(href + '/');
};
---

<nav class="fixed top-0 w-full bg-black/80 backdrop-blur-md z-50 border-b border-zinc-800">
  <div class="max-w-7xl mx-auto px-1 py-4 flex flex-col sm:flex-row justify-between items-center gap-4">
    <a
      href="/"
      aria-label="home"
      class="text-4xl font-bold bg-gradient-to-r from-blue-400 to-purple-500 bg-clip-text text-transparent"
    >
      <Image src={Logo} alt="Home" width={100} />
    </a>
    <div class="flex flex-wrap justify-center gap-4 sm:gap-5 text-sm items-center">
      {links.map(link => (
        <a 
          href={link.href}
          class:list={[
            "hover:text-orange-400 transition-colors px-2 py-1 uppercase rounded whitespace-nowrap",
            isActive(link.href) ? "text-orange-400 font-bold" : "text-white"
          ]}
        >
          {link.label}
        </a>
      ))}
    </div>
  </div>
</nav>